imports:
  - { resource: vendor/drupol/php-conventions/config/php56/grumphp.yml }

parameters:
  skip_tasks:
    - phpstan
    - composer_normalize
  extra_tasks:
    phpspec:
      verbose: true
      metadata:
        priority: 3000
